$main-font-face: "Acrom", sans-serif;
$font-bold: 900;
$font-ex-bold: 800;
$font-reg: 400;
$main-fn-color: #000000;
$main-fn-color-rev: #ffffff;
$accent-color: #ff6b08;
$bg-txt-color: #f7f7f7;
$slider-btn-color: #d1d2d3;
$main-shadow: -4px 5px 10px rgba(0,0,0,.11);